.festival-card-link {
    text-decoration: none;
    color: inherit;
    display:block;
    height: 100%;
    width: 100%;
    transition: all 300ms;
}

.festival-card {
    font-family: "Roboto Condensed", sans-serif;
    overflow: hidden;
    position: relative;
    width: 260px;
    height: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15), 0 3px 5px rgba(0, 0, 0, 0.27);
    transition:all 300ms;
}

.festival-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.28), 0 10px 10px rgba(0, 0, 0, 0.25);
}

.festival-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.festival-info {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    z-index: 2;
    color: whitesmoke;
}

.festival-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0;
}

.festival-dates, .festival-location {
    margin:0;
    font-size: 0.9rem;
    /* margin-bottom: 0.25rem; */
}

