html, body {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.loginContainer {
  background-image: url("https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8ZmVzdGl2YWx8ZW58MHwwfDB8fHwy");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  margin-top: calc(-50vw + 50%);
}

.title {
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(20, 16, 16);
  font-weight: 700;
  font-size: 75px;
  line-height: 85px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(241, 231, 231, 0.6);
}

.form {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 35px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin-top: 20px;
  border-radius: 5px;
}

.emailBox {
  font-family: 'Roboto Condensed' sans-serif;
  outline:0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  height: 10px;
  font-size: 15px;
  height: 40px;
}

.passwordBox {
  font-family: 'Roboto Condensed' sans-serif;
  outline:0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  height: 10px;
  font-size: 15px;
  height: 40px;
}

.customButtonLogin {
  font-family: 'Roboto Condensed', sans-serif;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 10px;
  margin: 0;
  /* margin-top: 5px; */
  color: whitesmoke;
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  /* 
  border-style: ridge;
  border-width: 1px;
  border-color: lightgray;
  height: 10px;
  margin-bottom: 15px; */
  /* background-color: rgb(174, 109, 236); */
  /* line-height: 5px;
  display: block; */
  /* box-sizing: border-box; */
}

.customButtonLogin:hover, .customButtonLogin:active, .customButtonLogin:focus {
  background: #CC5500;
}

.customButtonForgotPassword {
  /* border-radius: 25px; */
  border-style: none;
  /* border-width: 1px; */
  /* border-color: lightgray; */
  background: rgba(105, 100, 100, 0);
  padding: 20px;
  width: 250px;
  height: 10px;
  /* margin-bottom: 15px; */
  line-height: 5px;
  font-size: 12px;
  display: block;
}

.customButtonSignUp {
  border-radius: 25px;
  border-style: none;
  /* border-width: 1px; */
  background: rgba(105, 100, 100, 0);
  /* padding: 10px; */
  width: 255px;
  height: 20px;
  margin-bottom: 5px;
  line-height: normal;
  font-size: 15px;
  display: block;
  text-align: center;
  color: black;
}

.customButtonSignUp:hover {
  color: black;
  border: none;
  background-color: transparent;
}

.customButtonSignUp::before {
  content: "Don't have an account?";
  font-size: 13px;
  color: black;
  margin-right:5px;
}

.customButtonSignUp::after {
  content: "Sign Up";
  color: #CC5500;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.customButtonSignUp:hover::after {
  text-decoration: underline;

}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

@media (max-width: 900px) {
  .title {
    font-size: 50px;}
  }

  .modal-password-forgotten {
    margin-top: 10px;
    font-size: 15px;
  }

  .modal-password-reset {
    font-size: 15px;
  }