@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

a.forgot-password-link {
  color: whitesmoke;
  text-decoration: none;
  /* font-weight: 500; */
  transition: color 0.3s ease;
}


a.forgot-password-link:hover {
  color: black;
}

.modal-header {
  background: linear-gradient(135deg, #0c0b0b, black);
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0; */
}

div.modal-title {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

.modal-description {
  font-size: 1em;
  color: black;
  margin-bottom: 1rem;
}

.email-input,
.password-input {
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #ccc;
  font-size: 1em;
  transition: border-color 0.3s ease;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.email-input:focus,
.password-input:focus {
  border-color: #CC5500;
  box-shadow: 0 0 5px rgba(37, 37, 38, 0.25);
}

.secondary-button,
.primary-button {
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease,
    transform 0.3s ease;
}

.secondary-button {
  color: #e2e8f0;
  background-color: black !important;
  border: none !important;
}

.secondary-button:hover {
  color: #ffffff;
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-button {
  background-color: #CC5500 !important;
  border: none !important;
}

.primary-button:hover {
  color: #ffffff;
  background-color: black;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-footer {
  border-top: none !important;
  justify-content: center !important;
  padding: 10px !important;
  background-color: #f8f9fa;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex !important;
}

@media (max-width: 900px) {
  div.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
  }
  .modal-title {
    font-size: 16px;
  }
  p.modal-description {
    font-size: 12px;
  }
  .email-input,
  .password-input {
    font-size: 12px;
  }
  .secondary-button,
  .primary-button {
    font-size: 12px;
  }
  .modal-body {
    padding: 8px 10px;
  }
  .modal-footer {
    padding-top: 2px;
  }
}

#modal-title {
  color: white;
  flex-grow: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.modal-header .btn-close {
  position: absolute;
  right: 0;
  top: 0;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}