.App {
  /* text-align: center; */
}

.container {
  max-width: 1400px;
}

.festivals-page {
  background-color: rgba(255,255,255,255);
  color: black;
  min-height: 100vh;
  padding-top: 56px;
  margin: 0 auto;
  max-width: 100%;
}

.festivals-page h1 {
  text-align: center;
}

.my-navbar {
  border-bottom: 2px solid lightgrey;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: default;
  margin-left: 50px;
  padding-left: 15px;
  padding-right: 50px;
  margin-right: 30px;
}

.custom-nav-links .nav-link {
  margin-right: 20px;
  font-size: 1.1rem;
}

.custom-nav-links .nav-link:last-child {
  margin-right: 0;
}
