/* Import a modern font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

a.forgot-password-link {
  color: #FFC107;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

a.forgot-password-link:hover {
  color: #FFB300;
}

.modal-header {
  background: linear-gradient(135deg, #8164D1, #5334A9);
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-title {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

.modal-description {
  font-size: 1em;
  color: #4A5568;
  margin-bottom: 1rem;
}

.password-input {
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #CBD5E0;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

.password-input:focus {
  border-color: #8164D1;
  box-shadow: 0 0 0 0.2rem rgba(129, 100, 209, 0.25);
}

.secondary-button,
.primary-button {
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.secondary-button {
  color: #E2E8F0;
  background-color: #5A67D8;
  border: none;
}

.secondary-button:hover {
  color: #ffffff;
  background-color: #434190;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.primary-button {
  background-color: #FFC107;
  color: #5334A9;
  border: none;
}

.primary-button:hover {
  color: #ffffff;
  background-color: #FFB300;
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-footer {
  border-top: none;
  justify-content: center;
  padding-top: 20px;
  background: #f8f9fa;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
